# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the build output in the repo.
# Upload the contents of dist/ to GitHub releases instead.
dist/

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
